@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .my-gradient {
        background: rgb(254,233,242);
        background: radial-gradient(circle, rgba(254,233,242,1) 0%, rgba(255,255,255,1) 100%);
   }

   .blue {
      background: -webkit-linear-gradient(225deg, rgb(42, 6, 253), rgb(62, 119, 255));
      background: -moz-linear-gradient(225deg, rgb(42, 6, 253), rgb(62, 119, 255));
      background: linear-gradient(225deg, rgb(42, 6, 253), rgb(62, 119, 255));
   }

   .purple {
      background: -webkit-linear-gradient(225deg, rgb(192, 4, 249), rgb(115, 8, 122));
      background: -moz-linear-gradient(225deg, rgb(192, 4, 249), rgb(115, 8, 122));
      background: linear-gradient(225deg, rgb(192, 4, 249), rgb(115, 8, 122));
   }

   .pink {
      background: -webkit-linear-gradient(225deg, rgb(247, 195, 234), rgb(223, 156, 212));
      background: -moz-linear-gradient(225deg, rgb(247, 195, 234), rgb(223, 156, 212));
      background: linear-gradient(225deg, rgb(247, 195, 234), rgb(223, 156, 212));
   }

   .red {
      background: -webkit-linear-gradient(225deg, rgb(255, 0, 0), rgb(176, 0, 0));
      background: -moz-linear-gradient(225deg, rgb(255, 0, 0), rgb(176, 0, 0));
      background: linear-gradient(225deg, rgb(255, 0, 0), rgb(176, 0, 0));
   }

   .yellow {
      background: -webkit-linear-gradient(225deg, rgb(255, 236, 0), rgb(238, 229, 121));
      background: -moz-linear-gradient(225deg, rgb(255, 236, 0), rgb(238, 229, 121));
      background: linear-gradient(225deg, rgb(255, 236, 0), rgb(238, 229, 121));
   }

   .menu {
      background: -webkit-linear-gradient(270deg, rgba(219, 219, 219, .8), rgba(94, 94, 94, .8));
      background: -moz-linear-gradient(270deg, rgba(219, 219, 219, .8), rgba(94, 94, 94, .8));
      background: linear-gradient(270deg, rgba(219, 219, 219, .8), rgba(94, 94, 94, .8));
      backdrop-filter: blur(6px);
   }

   .menu-2 {
      background: -webkit-linear-gradient(180deg, rgba(71, 75, 74, .8), rgba(223, 223, 223, .8));
      background: -moz-linear-gradient(180deg, rgba(71, 75, 74, .8), rgba(223, 223, 223, .8));
      background: linear-gradient(180deg, rgba(71, 75, 74, .8), rgba(223, 223, 223, .8));
      backdrop-filter: blur(6px);
   }

   .skins {
      background: -webkit-linear-gradient(0deg, rgb(231, 234, 234), rgb(78, 82, 82));
      background: -moz-linear-gradient(0deg, rgb(231, 234, 234), rgb(78, 82, 82));
      background: linear-gradient(0deg, rgb(231, 234, 234), rgb(78, 82, 82));
      backdrop-filter: blur(6px);
   }

   .bg {
      background: -webkit-linear-gradient(225deg, rgb(34, 34, 34), rgb(163, 163, 163));
      background: -moz-linear-gradient(225deg, rgb(34, 34, 34), rgb(163, 163, 163));
      background: linear-gradient(225deg, rgb(34, 34, 34), rgb(163, 163, 163));
   }

   .open {
      background-color: #3CB371;
      transition: all .3s;
   }

   .open:hover {
      background-color: #48d889;
   }

   .delete {
      background-color: #E74C3C;
      transition: all .3s;
   }

   .delete:hover {
      background-color: #f5422e;
   }

   .choose {
      background-color:  #92A8D1;
      transition: all .3s;
   }

   .choose:hover {
      background-color:  #a3bbe9;
   }

   
}


