@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
   .my-gradient {
        background: rgb(254,233,242);
        background: radial-gradient(circle, rgba(254,233,242,1) 0%, rgba(255,255,255,1) 100%);
   }

   .blue {
      background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(26,35,126,1) 100%);
   }

   .purple {
      background: -webkit-linear-gradient(90deg, #7f469d,#8338c4,#8a35da,#af41ee,#e65ffb);
      background: linear-gradient(90deg, #7f469d,#8338c4,#8a35da,#af41ee,#e65ffb);
   }

   .pink {
      background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
   }

   .red {
      background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
   }

   .yellow {
      background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
   }
}